:root {
  --md-primary-fg-color: #a31464;
  --gemseo-primary-color: #a31464;
  --gemseo-secondary-color: #1e9aa8;
}

.md-header {
    background-color: white;
}

.md-ellipsis {
    color: var(--gemseo-secondary-color);
}
